VITE_APP_DEFAULT_ROUTE = /workbench
VITE_APP_PUBLIC_PATH = /
VITE_APP_API_BASE_URL = /api
VITE_APP_ROUTER_MODE = frontend
VITE_APP_AUTH_LOGIN_ENDPOINT = /api/account/login
VITE_APP_ENABLE_AUTH_MOCK = false
